body{
font-family:Arial;
background:#f4f6f8;
margin:0;
color:#333;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#1e1e2f;
color:white;
padding:20px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
}

nav a:hover{
color:#00bcd4;
}

.container{
max-width:1000px;
margin:auto;
padding:60px 20px;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input, textarea{
display:block;
width:100%;
padding:10px;
margin-bottom:15px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px;
border:none;
background:#00bcd4;
color:white;
cursor:pointer;
border-radius:5px;
}

.tabela{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

.tabela th, .tabela td{
border:1px solid #ccc;
padding:12px;
}

.tabela th{
background:#00bcd4;
color:white;
}

.barra{
background:#ddd;
height:8px;
border-radius:10px;
margin-bottom:5px;
}

.nivel{
height:8px;
border-radius:10px;
background:#00bcd4;
}

.sql{width:80%;}
.html{width:70%;}
.js{width:60%;}

.dark{
background:#121212;
color:white;
}

.dark .card{
background:#1e1e1e;
}